<div class="list">
    
    <div class="user_box">
        
<!--        //TOP PART OF THE BOX-->
        
        <div class="user_title">New Tasks</div>
        <div class="user_info">Some more of that really important stuff</div>

        <a class="button" id="AddButton" href="#/tasks">Go Back</a>
        
        
        <div class="addTaskForm">
            <div class="validbox">Task Name<br>
                <input class="inline" ng-model="taskname" placeholder="Task Name">
                <h5 class="inline" ng-show="nameEmpty">Cannot Be Empty</h5>
            </div>
            <div class="validbox">Description<br>
                <input ng-model="description" placeholder="Description">
            </div>
            <div class="validbox">Deadline<br>
                <input class="inline" ng-model="deadline" placeholder="MM/DD/YYYY HH:MM AM/PM">
                <h5 class="inline" ng-show="deadlineEmpty">Cannot Be Empty</h5>
            </div>
            <div class="validbox">Assigned User: {{username}}<br>   
                <div class="dropdown-head inline" ng-click="showDropdown()">Choose New User</div>
                <table class="dropdown-body" ng-show="showDroptions">
                    <tr ng-repeat="user in userList">
                        <td ng-click="changeUser(user.name)">{{user.name}}</td>
                    </tr>
                </table>
            </div>
            </div>
            <button class="submitButton" ng-click="addNewTask()">Submit</button>
        
        
        <div ng-show="showNewTaskDetails">
        
            <h3>New Task Details</h3>
            <h5>Task Name: <a href="#/tasks/{{nuID}}">{{nuTaskname}}</a></h5>
            <h5>Task ID: {{nuID}}</h5>
            <h5>Assigned User: <a href="#/users/{{nuUserID}}">{{nuUsername}}</a></h5>
            <h5>Assigned UserID: {{nuUserID}}</h5>
            <h5>Description: {{nuDescription}}</h5>
            <h5>Deadline: {{nuDeadline}}</h5>
            
        </div>
    </div>      

        
    </div>
    
</div>